server { # simple reverse-proxy
    listen       80;
    server_name  ansible.training.com ;


    # forward to pet-clinit
    location /petclinic  {
        rewrite ^/petclinic(.*) /$1 break;
        proxy_pass http://127.0.0.1:8080;
    }

}
